header {
    background-color: $primary-color;
    display: flex;
  justify-content: space-between;
  align-items:center;
  
  
    img {
      width: 3em;
    }
    nav {
      ul {
        display: flex;
  
        li {
          list-style: none;
          margin: 1em;
        &:hover{
        background-color: $secondary-color;
  }
          a {
            color: aliceblue;
  
          }
        }
      }
    }
  }
  